PORT=3003

JWT_SECRET=change-me

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT=http://ministack:4566
S3_BUCKET_NAME=plus-media

DB_HOST=ministack-rds-plus-media-db
DB_PORT=5432
DB_USER=plus
DB_PASSWORD=plus_secret
DB_NAME=plus_media
